:root {
    --main-color: rgb(100, 150, 100);
    --secondary-color: rgba(0, 0, 0, 0.5);
    --gap: 1rem;
    --logo-banner-background-color: var(--secondary-color);
    --logo-size: 5rem;
    --logo-font-size: 2.5rem;
    --font-size: 1rem;
}

* {
    font-family: 'Courier New', monospace;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--logo-banner-background-color);
    width: 100%;
    gap: var(--gap);
}

.logo {
    height: var(--logo-size);
}

.logo-text {
    font-size: var(--logo-font-size);
    color: var(--main-color);
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.form-row {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    margin-bottom: 0.5rem;
}

.form-group input {
    padding: 0.5rem;
    font-size: var(--font-size);
}

button.button {
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: var(--font-size);
    cursor: pointer;
}

input:invalid {
    border: 2px solid red;
    outline: none;
}

input:valid {
    border: 2px solid green;
    outline: none;
}